.content,
.layout {
  overflow: hidden;
}

.product-image {
  position: relative;
}

.product-info > div {
  padding-bottom: 4px;
}

.logo-holder {
  padding: 0 !important;
}

.logo {
  height: 100%;
  position: relative;
  width: 100%;
}

.logo img {
  vertical-align: top;
}

.actions {
  text-align: center;
}

.button {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

.button span {
  display: block;
  height: 34px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}

.button:hover {
  border-bottom-width: 1px;
  margin-top: 2px;
}

.button.text.shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.button.text:hover {
  background: none;
}

.disclaimer {
  color: #434343;
  font-size: 8px;
  text-align: center;
}

.bg-gradient {
  position: absolute;
  z-index: -1;
}

.round .bgImage {
  border-radius: 0;
}

.halfWidth {
  width: 50%;
}

.transition-ease {
  -webkit-transition: all .45s ease-out;
  transition: all .45s ease-out;
}

.price,
.product-name,
.product-name,
.sub-title {
  font-weight: bold;
}

.layout {
  position: relative;
}

.product-image-container {
  position: absolute;
  z-index: -1;
}

.colored-corner {
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
  z-index: -1;
}

.color-bg {
  position: relative;
}

.price-holder > div,
.price-holder > .product-price,
.price-holder > .product-price-prefix,
.price-prefix,
.price {
  font-size: 30px;
}
