.ssPanel {
	padding:10px 0px;
	border-bottom: 1px solid #DCDCDC;
	display:table;
	width:100%;
}
.ssPanel > div.ssOriginalTemplateImgContainer{
	width:80px;
	padding-left:10px;
}
.ssPanel > div.ssOriginalTemplateImgContainer img.ssImg{
	width:80px;
	vertical-align:top;
	margin:0 !important;
}
.ssPanel div.ssTitle{
	padding:0px 10px;
}
.ssPanel > div {
	/*float:left;
	display:inline;*/
	display:table-cell;
	vertical-align:top;
}

